@charset "utf-8";
.titleimg{
    margin-top: 15%;
}
.bg{
    /* height: 200vh; */
}
/*名前*/
.nname{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    /* width: 100%; */
}
.Jname{
    /* position: absolute; */
    z-index: 999;
    padding-top: 200px;
    padding-left: 100px;
    height: 800px;
    /* left: 50px;
    top: 250px; */
}
.ryu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.Jname .ryu p{
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl; 
    color: #e897fb;
    font-size: 5rem;
    text-shadow: 0 0 10px #d000ff;
    letter-spacing: 1rem;
}
.Jname .uma p{
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    font-size: 4rem;
    text-shadow: 0 0 10px #ffab00;
    color: #f7d797;
    letter-spacing: 1rem;
}
.Jname p{
    color: white;
    font-family: ta-fuga-fude,sans-serif;
    font-weight: 400;
    font-style: normal;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
}
.uma{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -370px;
    left: 60px;
}
.Ename{
    font-family: gitan-latin,sans-serif;
    font-weight: 700;
    font-style: italic;
    /* top: -10px;
    right: 20px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Ename p:nth-child(1){  
    font-size: 14rem;
    z-index: 20;
    text-shadow: 0 0 10px #d000ff;
}
.Ename p:nth-child(1) span{
    color: #d000ff;
}
.Ename p:nth-child(2){
    position: absolute;
    font-size: 11rem;
    top: 150px;
    opacity: 0.8;
    z-index: 1;
    text-shadow: 0 0 10px #ffab00;
}
.Ename p:nth-child(2) span{
    color: #ffab00;
}
.myimg{
    border-radius: 10%;
    box-shadow: 0 0 10px rgb(192, 192, 192);
    overflow: hidden;
}
@media screen and (max-width:959px){
    .nname{
        flex-direction: column;
    }
    .Jname{
        padding-left: 0;
        height: 1200px;
    }
    .ryu img{
        width: 400px;
    }
    .Jname .ryu p{
        font-size: 7rem;
    }
    .uma{
        top: -500px;
    }
    .uma img{
        width: 250px;
    }
    .Jname .uma p{
        font-size: 6rem;
    }

}
@media screen and (max-width:450px){
    .Jname{
        padding-left: 0;
        height: 800px;
        margin-bottom: 200px;
    }
    .ryu img{
        width: 267px;
    }
    .Jname .ryu p{
        font-size: 5rem;
    }
    .uma{
        top: -370px;
    }
    .uma img{
        width: 177px;
    }
    .Jname .uma p{
        font-size: 4rem;
    }

.Ename p:nth-child(1){
    font-size: 9rem;  
}
.Ename p:nth-child(2){
    font-size: 6rem;
    top: 110px;  
}
.myimg{
    width: 100%;
}
}
/*メッセージ*/
.message{
    font-family: "ヒラギノ角ゴシック";
    font-size: 3rem;
    margin: 20% 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.maintxt{
    line-height: 6rem;
}
.webdesigner{
    display: inline-block;
    background-color: red;
    font-size: 10rem;
    margin: 0 auto;
    line-height: 11rem
}
@media screen and (max-width:959px){
    .webdesigner{
        font-size: 8rem;
    }
}
@media screen and (max-width:450px){
    .maintxt{
        font-size: 2rem;
        line-height: 4rem;
    }
    .webdesigner{
        font-size: 4.5rem;
        line-height:5rem;
    }
    
}