html {
  font-size: 62.5%; /*10px*/
  font-family: "oshidashi-m-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  max-width: 1920px;
  overflow-x: hidden;
}
body {
  z-index: 1;
  background-image: url(../img/back.png);
  background-size: auto;
  width: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
p {
  color: white;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 959px) {
    body {
      background-position: 55%;
    }
}
//基本flex
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
//大枠サイズ調整
.wrapper{
    width: 100vw;
    margin-top: 15%;
}
//背景
.bg{
    width: 90%;
    background-color: rgba(0, 0, 0, 0.536);
    backdrop-filter: blur(8px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;  
}

.test_hid{
    display: none;
}