@use "variables" as v;
@use "mixin" as m;
html {
  font-size: 62.5%; /*10px*/
  font-family: "oshidashi-m-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: auto;
}
body {
  z-index: 1;
  background-image: url(../img/back.png);
  background-size: auto;
  width: 100%;
  overflow: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
p {
  color: white;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.hidden{
  display: none;
}
.hide{
  z-index: -1000;
}
@media screen and (max-width: 959px) {
  body {
    background-position: 55%;
  }
}
//基本flex
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
//大枠サイズ調整
.wrapper {
  width: 100vw;
  max-width: 100vw;
  margin-top: 15%;
}
//背景
.bg {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.382);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  z-index: -1;
}

.test_hid {
  display: none;
}
// タイトルアニメーション
.subtitle_flash {
  animation: subtitle_flash 1.5s forwards;
}
@keyframes subtitle_flash {
  0% {
  }
  100% {
    filter: brightness(100%);
  }
}
.abouttext_flash{
  animation: abouttext_flash 2s infinite;
  @keyframes abouttext_flash {
    0%{
      filter: brightness(100%);
    }
    5%{
      filter: brightness(30%);
    }
    10%{
      filter: brightness(100%);
    }
    15%{
      filter: brightness(30%);
    }
    20%{
      filter: brightness(100%);
    }
    100%{
      filter: brightness(100%);
    }
  }
}
.abouttext_flash_du2{
  animation: abouttext_flash 1.75s infinite;
}
// neon-button
.link_button{
  transition: .5s;
  width: 20%;
  &:hover{
    filter: brightness(70%);
  }
}
// .neon-button{
//   width: 23%;
//   font-size: 5rem;
//   color: rgb(222, 232, 255);
//   border: 3px solid rgb(206, 221, 255);
//   border-radius: 30px;
//   padding: 25px 20px;
//   box-shadow: 0 0 5px #3072dd,0 0 5px #3072dd inset,0 0 10px #3072dd,0 0 10px #3072dd inset,0 0 25px #3072dd,0 0 25px #3072dd inset,0 15px 3px #000;
//   text-shadow: 0 0 1px #d8eeff, 0 0 3px #d8eeff, 0px 0px 6px #d8eeff, 0 0 10px #3072dd, 0 0 30px #3072dd, 0 0 50px #3072dd, 0 0 70px #3072dd, 0 0 100px #3072dd, 0 0 150px #3072dd, 0 0 200px #3072dd, 0 15px 0 #000;
//   transition: .4s;
//   @include m.mq(sp){
//     font-size: 3rem;
//     padding: 20px 15px;
//     border-radius: 15px;
// }

//   &:hover{
//     filter: brightness(50%);
//   }
// }



